@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Fira+Sans:wght@100;200;300;500;600;700;800;900&family=Heebo:wght@100;200;300;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Cabinet-Grotesk";
  src: url("./font/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Extrabold.woff") format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Cabinet-GroteskMedium";
  src: url("./font/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Medium.otf") format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
button{
  outline:  none !important;
  box-shadow: none !important;
}

.rounded-4 {
  border-radius: 3.3rem!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Global */
.text-type1 {
  color: #ed6710 !important;
}
.bg-type1 {
  background-color: #ed6710 !important;
  border: 1px solid #ed6710 !important;
}
.bg-type11 {
  background-color: #ed67105c !important;
  border: 1px solid #ed67105c !important;
}
.bg-type2 {
  background-color: #0d4447 !important;
  border: 1px solid #0d4447 !important;
}
.bg-type3 {
  background-color: #f5f5f5 !important;
  border: 1px solid #f5f5f5 !important;
}
.bg-type4 {
  background-color: #218698 !important;
  border: 1px solid #218698 !important;
}
.bg-5 {
  background-color: #EEEEEE !important;
  border: 1px solid #EEEEEE !important;
}
.bg-6 {
  background-color: #f2f2f2 !important;
  border: 1px solid #f2f2f2 !important;
}
.bg-7{
  background: transparent !important;
  border: none !important;
}
.bg-8 {
  background-color: #fff !important;
  border: 1px solid #fff !important;
}
.bg-9 {
  background-color: #0D4447 !important;
  border: 1px solid #0D4447 !important;
}
.bg-10 {
  background-color: #E0E0E0 !important;
  border: 1px solid #E0E0E0 !important;
}
.bg-11 {
  background-color: #E6E6E6 !important;
  border: 1px solid #E6E6E6 !important;
}
.bg-12 {
  background-color: #4CAF50 !important;
  border: 1px solid #4CAF50 !important;
}
.bg-13 {
  background-color: #EAF8FA !important;
  border: 1px solid #EAF8FA !important;
}
.bg-14 {
  background-color: #124A54 !important;
  border: 1px solid #124A54 !important;
}
.bg-15 {
  background-color: #FDF0E7 !important;
  border: 1px solid #FDF0E7 !important;
}
.show button,.btn-primary {
  /* background:transparent !important; */
  border: none !important;
}

.swiper-pagination-bullet-active{
  background: #218698 !important;
}
.text-type2 {
  color: #0d4447 !important;
 
}
.text-7 {
  color: #218698 !important;
 
}
.text-type3 {
  color: #f5f5f5 !important;
}
.text-type4 {
  color: #231f20 !important;
}
.text-5 {
  color: #50555C !important;
}
.text-6{
  color: #4CAF50 !important;
}
.text-9{
  color: #ED6710 !important;
}
.text-10{
  color: #898A8D !important;
}
.text-11{
  color: #999999 !important;
}
.text-justify{
  text-align: justify !important;
}
.pointer{
  cursor: pointer;
}
section{
  padding: 7rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  font-family: "Open Sans", sans-serif !important;
}


.font-1{
  font-family: 'Inter', sans-serif !important; 
}
.font-2{
  font-family: "Open Sans", sans-serif !important;
}
.font-3{
  font-family: "Mulish", sans-serif !important;
  
}
.font-4{
  font-family: "Cabinet-Grotesk" !important;  
}
.font-5{
  font-family: "Cabinet-GroteskMedium "!important;  
  font-weight: 600;
}
.font-6{
  font-family: 'Heebo', sans-serif !important;
  font-weight: 500;
}
P,
h6,.h6 {
  line-height: normal;
}
h1 {
  font-size: 92px !important;
  font-weight: 700 !important;
}
h2 {
  font-size: 60px !important;
  font-weight: 700 !important;
}
h3 {
  font-size: 48px !important;
}
h4 {
  font-size: 36px !important;
}
h5 {
  font-size: 25px !important;
}

h6,.h6 {
  font-size: 19px !important;
}
.h61 {
  font-size: 15px !important;
}
.h7 {
  font-size: 14px !important;
}
.h11{
  font-size: 16px !important;
}

.h10 {
  font-size: 16px !important;
}
.h9 {
  font-size: 13px !important;
}
.h8{
  font-size: 28px !important;
}
.h51{
  font-size: 20px !important;
}
.h0{
  font-size: 10px !important; 
}
.ps-6 {
  padding-left: 4rem !important;
}
.space {
  padding-top: 5rem;
}
img {
  width: 100%;
  object-fit: cover;
}
.mb-45 {
  margin-bottom: 2rem!important;
}
.mb-6 {
  margin-bottom: 4rem !important;
}
.mb-7 {
  margin-bottom: 5rem !important;
}
.mb-8 {
  margin-bottom: 6rem!important;
}
.mt-7 {
  margin-top: 6rem!important;
}
.mx-10 {
  margin-right: 15rem!important;
  margin-left: 15rem!important;
}
.mx-10sub {
  margin-right: 8rem!important;
  margin-left: 8rem!important;
}
.pt-7 {
  padding-top: 5rem !important;
}
.pt-8 {
  padding-top: 10rem !important;
}
.pb-8 {
  padding-bottom: 10rem !important;
}
.px-8{
  padding-right: 6rem!important;
  padding-left: 6rem!important;
}
.px-10{
  padding-right: 10rem!important;
  padding-left: 10rem!important;
}
.slick-track {
  display: flex !important;
}


.slick-slide {
  height: auto !important;
}
.fw-0{
  font-weight: 400 !important;
}
.fw-1{
  font-weight: 500 !important;
}
.fw-2{
  font-weight: 600 !important;
}
.fw-3{
  font-weight: 800 !important;
}
.form-check-input:checked {
  background-color: #218698 !important;
  border-color: #218698 !important;
}
.radio2 .form-check-input:checked {
  background-color: #ed6710 !important;
  border-color: #ed6710 !important;
}
/* .form-check-input {
  width: 20px !important;
  height: 20px !important;
  
} */
.form-check .form-check-input {
 
  margin-right: 20px !important;
}

input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 3;
}

.form-select{
  font-size: 18px !important;
  text-transform: capitalize !important;
}
.form-control:focus, .form-control:active {
  background: transparent !important;
}
input{
  background-color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
    border: none !important;
}
select{
  box-shadow: none !important;
}
input[type='radio']{
  border: 1px solid !important;
}
.borderC-3{
  border-width: 3px !important;
  border-color:#C4C4C4 !important;
}
.inputWrapper{
  justify-content: start !important;
    border: 2px solid #C4C4C4 !important;
}
.form-label{
  font-size: 18px !important;
}

.radio2 .form-check{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.modal{
  padding: 0 !important;
}
.table{
  border-color:#ed6710 !important;
}
.react-calendar {
  width: 100% !important;
  padding: 10px !important;
  font-family: "Open Sans", sans-serif !important;
}
.card{
  border: none !important;
  border-radius: 10px;
}
.dropdown-toggle::after{
  display: none !important;
}
.back{
  position: absolute;
  right: 0;
  z-index: 0;
}

.maxwidth{
  max-width: 35% !important;
}
.scroll{
  overflow-y: scroll;
    height: 90vh;
}
.lawyerWrapper{
  width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.lawyerWrapper img{
  height: 100%;
}
.react-calendar__month-view__weekdays__weekday{
  font-size: 14px;
  font-family: "Mulish", sans-serif !important;
}
/* others */
.dot{
  width: 18px;
  height: 18px;
  background: #218698
  ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.under{
  border-bottom: 4px solid #ED6710;
}
.dropdown-item::focus {
 /* background: #8900A8 !important; */

}
a:focus{
  /* background: #8900A8 !important; */
  
}
.dropdown-menu  > a:hover {
  background-image: none;
  background-color: transparent !important;
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-button-next:after,.swiper-button-prev:after{
  font-size: 30px !important;
  font-weight: 900 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* .insta{
  color: radial-gradient(130.55% 130.55% at 13.29% 100.47%, #FA8F21 9%, #D82D7E 78%);
} */

.ourteam{
  width: 195px;
  height: 250px;
}

@media (min-width: 992px) {
  .home .container,
  .home .container-lg,
  .home .container-md,
  .home .container-sm {
    max-width: 1306px  !important;
  }
}
/* @media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1518px !important;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px !important;
  }
}
/* @media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1020px !important;
  }
} */

.messagebox{
  padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: calc(80vh - 10rem) !important;
}
.messagebox1{
  padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: calc(30vh) !important;
}
::-webkit-scrollbar {
  width: 5px;
}
.noConversation{
  position:absolute;
  top:10%;
  font-size:50px;
  color:rgb(224,220,220);
  text-align:center;
  cursor:default;
}
.noConversation2{
  /* top:10%; */
  font-size:50px;
  color:rgb(224,220,220);
  text-align:center;
  /* text-transform: capitalize; */
  /* cursor:default; */
}
.imageWrapperMessage3{
  width: 100px;
  height: 100px;
}
.imageWrapperMessage4{
  width: 60px;
  height: 60px;
}
.profileImage img,.imageWrapperMessage img{
  height: 100%;
  width: 100%;
}



@media (max-width: 991px) {
  .ps-6 {
    padding-left: 0 !important;
  }
  .px-10{
    padding-right: 8rem!important;
    padding-left: 8rem!important;
  }
  h6,.h6 {
    font-size: 15px !important;
  }
  h5 {
    font-size: 20px !important;
  }
}
@media (max-width: 786px) {
  .mx-10 {
    margin-right: 13rem!important;
    margin-left: 13rem!important;
  }
 
}
@media (max-width: 540px) {
  
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 42px !important;
  }
  h4 {
    font-size: 21px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  h3 {
    font-size: 35px !important;
  }
  p{
    font-size: 14px !important;
  }
  .ps-6 {
    padding-left: 0 !important;
  }
  h5 {
    font-size: 19px !important;
  }
  h6,.h6 {
    font-size: 14px !important;
  }
  .px-8 {
    padding-right: 4rem!important;
    padding-left: 4rem!important;
}
.h51 {
  font-size: 16px !important;
}
.form-label{
  font-size: 16px;
}
.px-10{
  padding-right: 2rem!important;
  padding-left: 2rem!important;
}
.mx-10 {
  margin-right: 5rem!important;
  margin-left: 5rem!important;
}
.mx-10sub {
  margin-right: 2rem!important;
  margin-left: 2rem!important;
}
.td{
  font-size: 12px;
}
.radio2 .form-check {
  padding: 0 !important;
}
section{
  padding: 3rem 10px !important;
}
.rounded-4 {
  border-radius: 1px !important;
}

.ourteam{
  width: 225px;
  height: 250px;
}
}

@media (max-width: 460px) {
  h5 {
    font-size: 16px !important;
  }
}
